<ng-container>
  <mat-progress-bar *ngIf="(isProductLoading$ | async); else formTemplate" mode="indeterminate"></mat-progress-bar>
  <ng-template #formTemplate>
<app-editable-grid
  [config]="tableConfig"
  [model]="gridModel"
  [validators]="validators"
  (cellValueChanged)="onCellValueChanged($event)"
  (rowAdded)="onProductAdded($event)"
  (rowDeleted)="onProductDeleted($event)"
  (rowEdited)="onProductEdited($event)"
  (rowReordered)="onProductReordered($event)"
  (columnReordered)="onColumnReordered($event)"
  (editFormCreated)="onEditFormCreated($event)"
  >
</app-editable-grid>
</ng-template>
</ng-container>