.invalid {
  border: 2px solid red;
}

.error-text {
  color: red;
  font-size: 12px;
  margin-top: 2px;
}

.table-footer {
  flex-shrink: 0;
  height: 50px;
  background-color: silver;
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  border-top: 3px solid #aaa;
  user-select: none;
}

.table-footer-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: red;
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  height: 95%;
  border: 1px solid #ccc;
  position: relative;
  background: white;
}

.table-scroll-area table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
}

.table-scroll-area {
  flex: 1 1 auto;
  overflow-y: auto;
}

.filter-input {
  width: 100px;
  margin-top: 4px;
  font-size: 12px;
  padding: 2px 5px;
}

.header-cell-content {
  justify-content: space-between;
}

.sortable {
  font-size: 16px;
  line-height: 20px;
}

.table-container {
  width: 100%;
  max-height: 400px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead tr {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #f5f5f5;
}

th {
  position: sticky; // fix the header of table
  top: 0;
  z-index: 2;
  background-color: #f5f5f5;
  padding: 12px 10px;
  font-weight: 600;
  font-size: 14px;
  border-bottom: 2px solid #ddd;
  border-right: 1px solid #e0e0e0;
}

th,
td {
  padding: 8px;
  border: 1px solid #ddd;
  white-space: nowrap;
}

table tr:last-child td {
  border-bottom: 2px solid #ddd;
}

.open-edit-row {
  background-color: #fff8e1;
  /* light yellow highlight, adjust color as you like */
}

.newOpen-button {
  cursor: pointer;
}