<div class="container">
<div class="home-layout" [class.collapsed]="isCollapsed">
  <aside class="sidebar">
        <div class="sidebar-header">
      <button class="toggle-btn" (click)="toggleSidebar()">
        <span [class.expanded]="isCollapsed">◀</span>
      </button>
    </div>
    <app-tree-menu [menuGroups]="menuTree"></app-tree-menu>
  </aside>
  <main class="blade-area">
    <router-outlet></router-outlet> <!-- Products/Categories/.. load here -->
  </main>
</div>
 <div>
    <app-blade-container></app-blade-container>
 </div> 
</div>